---
import PageMeta from "~/components/PageMeta.astro";
import { SITE_TITLE } from "~/config/site";
import projectJson from "~/data/project.json";
import BaseLayout from "~/layouts/BaseLayout.astro";

interface ProjectProps {
  id: string;
  thumbnail: string;
  brand_logo: string;
  title: string;
  slug: string;
  job: string;
  stack: string;
  tools: string[];
  images: string[];
  description: string;
}

interface Props {
  project: ProjectProps;
}

export function getStaticPaths() {
  return projectJson.data.map((item) => ({
    params: { slug: item.slug },
    props: { project: item },
  }));
}

const { project } = Astro.props;
---

<BaseLayout>
  <PageMeta title={`Project | ${SITE_TITLE}`} slot="meta" />

  <section class="py-6">
    <div class="grid gap-2">
      <h1 class="text-2xl sm:text-4xl text-slate-300 font-semibold">
        <u>Projects</u>
      </h1>

      <h2 class="text-normal text-slate-300">
        Some of the projects i have worked on so far are full-time or even
        freelance.
      </h2>
    </div>

    <div class="py-6">
      <div class="grid gap-4">
        <img
          class="w-full rounded-xl"
          src={project.thumbnail}
          alt={project.title}
        />

        <div class="font-bold text-xl text-slate-300 underline">
          {project?.title}
        </div>

        <p class="text-gray-300 text-sm">{project?.description}</p>
      </div>
    </div>
  </section>
</BaseLayout>
