---
import PageMeta from "~/components/PageMeta.astro";
import { SITE_TITLE, SITE_URL } from "~/config/site";
import projectJson from "~/data/project.json";
import BaseLayout from "~/layouts/BaseLayout.astro";

const projects = projectJson.data;
---

<BaseLayout>
  <PageMeta title={`Project | ${SITE_TITLE}`} slot="meta" />

  <section class="py-6">
    <div class="grid gap-2">
      <h1 class="text-2xl sm:text-4xl text-slate-300 font-semibold">
        <u>Projects</u>
      </h1>

      <h2 class="text-normal text-slate-300">
        Some of the projects i have worked on so far are full-time or even
        freelance.
      </h2>
    </div>

    <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 py-4">
      {
        projects.map((item) => {
          return (
            <div class="grid gap-4">
              <a href={`${SITE_URL}/project/${item.slug}`}>
                <img
                  class="w-full rounded-xl"
                  src={item.thumbnail}
                  alt={item.title}
                />
              </a>

              <a class="inline-block" href={`${SITE_URL}/project/${item.slug}`}>
                <div class="font-bold text-xl text-slate-300">{item.title}</div>
              </a>

              <p class="text-gray-300 text-sm">{item.description}</p>
            </div>
          );
        })
      }
    </div>
  </section>
</BaseLayout>
