---
import { format } from "date-fns";
import { id } from "date-fns/locale";
import _ from "lodash";
import volunteerJson from "~/data/volunteer.json";

const formatDate = (value: Date | string) => {
  return format(new Date(value), "MMM yyyy", { locale: id });
};
---

<section class="pt-6">
  <div class="grid gap-2 pb-6">
    <h1 class="text-2xl sm:text-4xl text-slate-300 font-semibold">
      <u>Volunteer Experience</u>
    </h1>

    <h2 class="text-normal text-slate-300">
      The experience I gained while working as a volunteer in the community.
    </h2>
  </div>

  {
    volunteerJson.data.map((item) => {
      let new_start_date = formatDate(item.start_date);
      let new_end_date = "Present";

      if (!_.isNil(item.end_date)) {
        new_end_date = formatDate(String(item.end_date));
      }

      const linkCss = item.link !== "#" ? "text-blue-400" : "";

      return (
        <div class="pb-6">
          <div class="flex gap-3 sm:gap-5 mb-6 justify-start items-center">
            <div class="avatar">
              <div class="ring-slate-300 ring-offset-base-100 w-16 sm:w-18 rounded-full ring ring-offset-2">
                <img src={item.logo} />
              </div>
            </div>

            <div class="sm:px-0 px-2">
              <h1 class="text-lg sm:text-xl font-semibold text-slate-300">
                <u>{item.job}</u>
              </h1>

              <h2 class="text-sm sm:text-base text-slate-300 italic">
                <span class={`link-hover ${linkCss}`}>
                  <a href={item.link} target="_blank" rel="noopener">
                    {`${item.company} - ${item.employment_type}`}
                  </a>
                </span>
                <span>| {item.location}</span>
              </h2>
              <h3 class="text-sm sm:text-md text-slate-400">
                {`${new_start_date} - ${new_end_date}`}
              </h3>
            </div>
          </div>

          <p class="text-slate-300 text-pretty">{item.content}</p>
        </div>
      );
    })
  }
</section>
